

.content {
    height: 500px;
    background-color: blueviolet;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #blueviolet;
    font-size: 30px;
    font-family: Arial;
}

.wildhairlogo {
    margin-left: 25%;
}

.parallax-bg {
    padding: 100px 0;
    background-image: url(/img/background.png);
    background-attachment: fixed;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.parallax-bg h1 {
    text-align: center;
    text-transform: uppercase;
    color: #blueviolet;
    font-size: 70px;
    font-family: Arial;
}
